

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\bmi\style.css">
    <script src="\static\bmi\model.js" defer></script>
    
</head>
<body>
    
    <div class="model-container" id="modal-container">
        <div class="box">
        <div class="modal" id="modal">
            <div class="wrapper">
            <h3>Gain Weight or Loose Weight?</h3>      
            <button id="btn">Gain</button>
            <button id="btn1">Loose</button>
        </div>
    </div>

        <div class="model-container1" id="modal-container1">
            <div class="modal" id="modal">
                <div class="wrapper">
                <h3>Choose Your Diet Plan</h3>      
                <button id="btn">Veg</button>

                <button id="btn">Non-Veg</button>

                <button id="btn">Both</button>
                
            </div>

    </div>

</body>
</html>


